@inherits RegisterBase

<EditForm Model="@UserForCreation" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
<div class="card" style="height: 500px">
    <h4 class="card-header text-white" style="background: #052767;">Sign up to the Todo list application</h4>
   

    <div class="card-body">
        <div class="form-group">
            <label>Username</label>
            <InputText @bind-Value="UserForCreation.Username" class="form-control" />
            <ValidationMessage For="@(() => UserForCreation.Username)" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <InputText @bind-Value="UserForCreation.Password" type="password" class="form-control" />
            <ValidationMessage For="@(() => UserForCreation.Password)" />
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <InputText @bind-Value="UserForCreation.ConfirmPassword" type="password" class="form-control" />
            <ValidationMessage For="@(() => UserForCreation.ConfirmPassword)" />
        </div>
           
        @if (!string.IsNullOrEmpty(Error))
        {
            <div class="alert alert-danger mt-3 mb-0">@Error</div>
        }
        @if (RegisterFailed == true)
        {
            <div class="alert alert-danger mt-3 mb-0">Something went wrong, try again later</div>
        }
        @if (RegisterFailed == false)
        {
            <div class="alert alert-success mt-3 mb-0">Successfully registered, you can login now</div>
        }
        @if (UsernameConflict)
        {
            <div class="alert alert-warning mt-3 mb-0">The given username is already taken</div>
        }
    </div>
    <div class="card-footer bg-dark text-white">
        <button class="btn btn-primary">
            @if (Loading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Register
        </button>
    </div>

</div>
</EditForm>
